#vin{
    margin-left: 100px;
    height: 40px;
    width: 120px;
    border-radius: 50px;
    color: orange;
    background-color: aqua;
    border: 1px solid white;

}
#shiv{
    margin-left: 100px;
    color: blue;
    margin-top: 20px;

}
#shiv1{
    margin-left: 100px;
    height: 40px;
    width: 120px;
   
    color:orangered;
    background-color:chartreuse;
    border: 2px solid white;
    border-radius: 50px;
}

#dish{
    margin-left: 100px;
    margin-top: 60px;
    color:purple;
    font-size: 30px;

}
#sun{
    margin-left: 100px;
    margin-top: 20px;
    background-color: yellow;
    border: 2px solid yellow;
    height: 40px;
    width: 130px;
    border-radius: 20px;
    color: brown;
}
#sun1{
    margin-left: 20px;
    height: 40px;
    width: 120px;
    border: 2px solid green ;
    background-color: green ;
    color: indigo;
    border-radius: 50px;

}

.clock{
    font-family: Arial, Helvetica, sans-serif;
    color: fuchsia;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    top: 500px;
    left: 100px;

}
    






